# Gitignore settings for PI4Home
# This is an example and may include too much for your use-case.
# You can modify this file to suit your needs.
/.pi4home/
**/.pioenvs/
**/.piolibdeps/
**/lib/
**/src/
**/platformio.ini
/secrets.yaml
